.cart-data-style{
    margin: 11px;
  background-color: rgb(88, 173, 186);
  border-radius: 10px;
  flex: 0.24;
  margin-top: 90px;
  height: 410px;
}
.cart-style{
  margin: 11px;
background-color: rgb(199, 156, 162);
border-radius: 10px;
flex: 0.24;
margin-top: 90px;
height: 410px;
}
.nav-maindiv{

  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: "80px";
  height: 410px;
  color: white;
}