.login-inputs{
        color: #3f12f0;
        width: 220px;
        height: 30px;
        background: #e0dada;
        margin-left: 240px;
        
    }
    .email-label{
      text-align: right;
    }
h2{
  text-align: center;
}
img{
  width: 200px;
  height: 200px;
}
p{
  font-size: small;
  margin-left:  3px;
}
h5{
  margin-left:  3px;
}
.title{
  text-align: center;
}
.add-btn-cart{
    background-color: #112899;
    border-radius: 5px;
    width: 80px;
    height: 20px;
    margin-left: 55px;
    color: white;
    margin-bottom: 5px;
}
.add-btn{
  margin-top: 62px;
  margin-left: 12px;
  width: 34px;
  height: 20px;
}