.fill-btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 400px;
    height: 50px;
    margin-left: 280px;
  }
  .fill-btn:hover {
    opacity: 0.8;
  }
  .add-cart-btn{
    background-color: #112899;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    margin-left: 55px;
    color: white;
    margin-bottom: 5px;
    margin-top: 51px;
  }
.logout{
  margin-left: 830px;
  border: none;
  cursor: pointer;
  color: rgb(224, 12, 8);
}